.heading-div .heading
{
    font-size:50px;
}

.heading
{
    padding-left:3rem;
    padding-top: 2rem;
    padding-bottom:1rem;
    font-family:Arial
}
.line
{
    border-top: 2px solid black;
    margin-inline:3rem;
}

.outbox {
    padding: 1rem 3rem 1rem;
    padding-top: 1rem;
}

.title{
    font-size:2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.cardbox
{
    padding-left:10rem;
    padding-block:2rem;
}

.menu {
    position: absolute;
    right: 2rem;
    top: 1rem;
}
.task-img {
    position: absolute;
    left: 3rem;
    top: 1rem;
    display: flex;
}